/* Custom styles */
body {
    background-color: #141414;
}

.navbar {
    background-color: #191c20;
}

.navbar #search-form.w-full {
    width: 50% !important;
}

#search-form .form-control {
    background-color: #141414;
}

.video-tags .badge {
    margin-right: 5px;
}

.card {
    background-color: #141414;
    border: none;
}

a.video-link {
    display: flex;
    flex-direction: column;
    gap: calc(var(--content-padding) / 2);
    text-decoration: none;
    transition: var(--img-hover-transition-duration) filter;
}

.card-title {
    font-weight: 400;
    font-size: 18px;
    cursor: pointer;
}

.page-wrapper.with-navbar>.content-wrapper, .page-wrapper.with-navbar>.sidebar {
    background-color: #191c20;
}

.img-fluid {
    border-radius: 10px;
}
